canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.lab {
	display: inline-block;
	width: 25px;
	text-align: center;
	font-weight: bold;
}
div.gameforms {
	position: absolute;
	right: 50px;
	border: 3px dashed #008000;
	border-radius: 15px;
}
form, .form_userid {
	margin: 30px;
}
button {
	width: 100%;
}